force-app/main/default/flows/TotalAmountCalculationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>calculationOfTotalAmount</name>
        <label>calculationOfTotalAmount</label>
        <locationX>528</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalInputAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>totalOutputAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopingThroughAllCashBookLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storeInputAmountValue</name>
        <label>storeInputAmountValue</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalInputAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopingThroughAllCashBookLineItems.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculationOfTotalAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storeOutputAmountValue</name>
        <label>storeOutputAmountValue</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>totalOutputAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopingThroughAllCashBookLineItems.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculationOfTotalAmount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfInputOdOutput</name>
        <label>checkIfInputOdOutput</label>
        <locationX>528</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>calculationOfTotalAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>ifInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopingThroughAllCashBookLineItems.Entry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeInputAmountValue</targetReference>
            </connector>
            <label>ifInput</label>
        </rules>
        <rules>
            <name>ifOutput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopingThroughAllCashBookLineItems.Entry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeOutputAmountValue</targetReference>
            </connector>
            <label>ifOutput</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TotalAmountCalculationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TotalAmountCalculationFlow</label>
    <loops>
        <name>loopingThroughAllCashBookLineItems</name>
        <label>loopingThroughAllCashBookLineItems</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getAllCashBookLineItemRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfInputOdOutput</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCashBookTotalAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllCashBookLineItemRecords</name>
        <label>getAllCashBookLineItemRecords</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopingThroughAllCashBookLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cash_Book_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCashBookTotalAmount</name>
        <label>updateCashBookTotalAmount</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cash_Book__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllCashBookLineItemRecords</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Cash_Book_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalInputAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalOutputAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
